.body_backround{
    background-image: url("bg1.jpg");
    background-position:center ;
    background-size: cover ;
}

h1{
    color: gold;
    font-size: 20px;
}

#my_canvas{
    border-width: 20px;
    background-color: white;
    border-style: ridge;
}

input{
    margin-right: 20px;
}